:root{
  --brand:#0b5ed7;
  --dark:#111827;
  --muted:#6b7280;
  --bg:#f6f7fb;
  --card:#ffffff;
  --border:#e5e7eb;
}

html, body, #root{
  height: 100%;
}

body{
  background: var(--bg);
  color: #111;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

a{
  text-decoration: none;
}